



html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black
}

.app-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.add-task {
  margin-top: 10px;
}

.add-task input {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.add-task button {
  padding: 5px 10px;
  font-size: 16px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.todo-item button {
  margin-left: 5px;
}
